
<div class="login-container">
  <img class="portfolio" src="assets/images/samik.png" alt="hello sathiharu">
  <div class="logo">Samikshya Regmi</div>
  <div class="desc">

    <div class="contact-info">
      <p>Student in BSc.CSIT</p>
      <p>Tokha, Kathmandu</p>
      <p>Phone: 9847298292</p>
      <p>Email: regmisamu0&#64;gmail.com</p>

    </div>

    <div class="experience">
      <h2>Experience</h2>
      <p>Dot Net Intern at Silicon-Soft, Santinagar, Kathmandu (Nov, 2023 - Feb, 2024)</p>
      <ul>
        <li>Proficient in ASP.NET MVC framework for building dynamic web applications.</li>
        <li>Experience in developing RESTful APIs using Web API.</li>
        <li>Solid understanding of SQL database design and querying.</li>
        <li>Familiarity with unit testing frameworks such as NUnit or XUnit.</li>
        <li>Strong problem-solving skills and ability to collaborate effectively in a team environment.</li>
      </ul>
    </div>

    <div class="education">
      <h2>Education</h2>
      <p>Bachelor in Computer Science and Information Technology</p>
      <p>New Summit College, Santinagar, Kathmandu</p>
      <p>Status: 8th Semester</p>
      <p>Courses: Data Structure and Algorithms, Design and Analysis of Algorithms, System Analysis and Design, Software Engineering, Object Oriented Programming, C, AspNetCore, Database Management System.</p>
    </div>

    <div class="projects">
      <h2>Projects</h2>
      <p>Moodtracker - <a href="https://github.com/samikshya334/moodtracker1" class="project-link">GitHub</a></p>
      <p>Thrift-Us (Ecommerce & rental ASPNetCoreMVC) - <a href="https://github.com/samikshya334/Thrift-Us-Ecommerce-clothing-and-rental-store" class="project-link">GitHub</a></p>
    </div>

    <div class="skills">
      <h2>Skills</h2>
      <ul>
        <li>MySQL, MSSQL</li>
        <li>C#, ASP.NET Core, ASP.NET Framework</li>
        <li>Ajax, CSS, JavaScript</li>
        <li>PHP</li>
        <li>ASP.NET MVC, Web API</li>
        <li>AWS Basic (EC2, S3, VPD)</li>
        <li>MSSQL Server</li>
      </ul>
    </div>

    <div class="languages">
      <h2>Language</h2>
      <ul>
        <li>Nepali</li>
        <li>English</li>
        <li>Hindi</li>
      </ul>
    </div>
  </div>
</div>
